<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <connectionStrings>
    <add name="sysDataBase" connectionString="Data Source=127.0.0.1\MSSQLSERVER2014;Initial Catalog=FreePM;Persist Security Info=True;User ID=dbaFreeOA;Password=123=abc;" providerName="System.Data.SqlClient" />
    <add name="WxDataBase" connectionString="Data Source=127.0.0.1\MSSQLSERVER2014;Initial Catalog=FreePM;Persist Security Info=True;User ID=dbaFreeOA;Password=123=abc;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="sysDataBase"/>
  <system.web>
    <machineKey validation="3DES" validationKey="8044F2D6417FAF5107161285298CACEE40D13B71" decryptionKey="3A008BA4A1AC983B1B63298C3A64A9CDEFFC011DCE8A91BD" decryption="3DES"/>
    <!-- 设置 compilation debug="true" 将调试符号插入已编译的页面中。但由于这会影响性能，因此只在开发过程中将此值 设置为 true。-->
    <compilation debug="true" targetFramework="4.0"/>
    <!-- 通过 <authentication> 节可以配置 ASP.NET 使用的安全身份验证模式，以标识传入的用户。  -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="Default.aspx" defaultUrl="DefaultMain.aspx"/>
    </authentication>
    <identity impersonate="true" userName="WebSysAdmin" password="AEaEcE" />
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off" defaultRedirect="Error.aspx" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <httpHandlers>
      <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
      <add verb="POST" path="FancyUpload.axd" type="EIS.AppCommon.FancyUpload, EIS.Common"/>
      <add verb="POST" path="GetData.ashx" type="EIS.AppCommon.GetData,  EIS.Common"/>
      <add verb="POST" path="GetXml.ashx" type="EIS.AppCommon.GetXml,  EIS.Common"/>
      <add verb="POST,GET" path="GetChartData.ashx" type="EIS.AppCommon.GetChartData,  EIS.Common"/>
      <add verb="GET" path="VerifyCode.axd" type="EIS.AppCommon.VerifyCode,  EIS.Common"/>
    </httpHandlers>
    <!-- 编码设置 -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <!-- Session保存方案 -->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="60"/>
    <pages controlRenderingCompatibilityVersion="4.0"  validateRequest="false">
      <controls>
        <!-- 注册用户控件 -->
        <add tagPrefix="wf" src="~/SysFolder/WorkFlow/UserControl/UserDealInfo.ascx" tagName="UserDealInfo"/>
        <add tagPrefix="wf" src="~/SysFolder/WorkFlow/UserControl/WorkflowImg.ascx" tagName="WorkflowImg"/>
        <add tagPrefix="wf" src="~/SysFolder/WorkFlow/UserControl/InstanceImg.ascx" tagName="InstanceImg"/>
        <add tagPrefix="wf" src="~/SysFolder/WorkFlow/UserControl/InstanceLog.ascx" tagName="InstanceLog"/>
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <appSettings>
    <!--大栏目Id-->
    <add key="MaxLength" value="40000000"/>
    <add key="WebId" value="0"/>
    <!--工具文件夹-->
    <add key="SWFTools" value="C:\SWFTools\pdf2swf.exe"/>
    <!--网站根目录-->
    <add key="WebAppRoot" value="https://www.baidu.com/FreeOA"/>
  </appSettings>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="VerifyCode.axd">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="getVerifyCodeImage.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="js/jquery-1.7.js">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="dataservice.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="WSQueryList.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="mLogin.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--设置IIS7文件上传的最大大小,单位字节-->
        <requestLimits maxAllowedContentLength="40000000"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ajaxpro" verb="*" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
      <add name="FancyUpload" verb="POST" path="FancyUpload.axd" type="EIS.AppCommon.FancyUpload,  EIS.Common"/>
      <add name="UploadImage" verb="POST" path="UploadImage.axd" type="EIS.AppCommon.UploadImage,  EIS.Common"/>
      <add name="GetData" verb="POST" path="GetData.ashx" type="EIS.AppCommon.GetData,  EIS.Common"/>
      <add name="GetChartData" verb="POST,GET" path="GetChartData.ashx" type="EIS.AppCommon.GetChartData,  EIS.Common"/>
      <add name="GetXml" verb="POST" path="GetXml.ashx" type="EIS.AppCommon.GetXml, EIS.Common"/>
      <add name="VerifyCode" verb="GET" path="VerifyCode.axd" type="EIS.AppCommon.VerifyCode,  EIS.Common"/>
      <add name="QRCode" verb="GET" path="QRCode.axd" type="EIS.AppCommon.QRCode,  EIS.Common"/>
    </handlers>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
  </system.webServer>
</configuration>