*{
    margin:0;
    padding:0;
}
body{
    font-weight:normal;
    font-style:normal;
    font-family:Tahoma,Helvetica,Arial,sans-serif;
    font-size:12px;
    background-color:white;
    height:100%;
	text-align: center; 
	width:100%;
	overflow:hidden;
}
html
{
	height:100%;
	overflow:hidden;
}

#maindiv
{
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px 0px 10px 0px;
}

#maindiPrint
{
	
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px 0px 10px 0px;
}
/*大表格样式*/
table.normaltbl,table.redtbl,table.subtbl
{
    table-layout:fixed;
	border-collapse: collapse;
    margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	width:760px;
	line-height:20px;
}

table.normaltbl
{
	border:#89B2FD 1px solid;
	color:#393939;
	background-color:#F3F9FD;
}
table.redtbl
{
    border:red 1px solid;
    color:red;
}
.normaltbl caption
{
	border-top:#89B2FD 1px solid;
	border-left:#89B2FD 1px solid;
	border-right:#89B2FD 1px solid;
	font-weight:bold;
	font-size: 11pt;
	color:#555;
    background:url(images/table_head.gif) repeat-x;
    background-size:contain;
    height:30px;
	line-height:30px;
	
}
table.redtbl caption
{
    font:bold 14pt/40px 黑体;
}

.normaltbl > tr > td , .normaltbl > tbody > tr > td , .subtbl > tbody > tr > td, .subtbl > thead > tr > td
{
	text-align:left;
	padding:1px 1px 1px 3px;
	height:26px;
	line-height:26px;
	border:1px #89B2FD solid;
}
.redtbl > tr > td , .redtbl > tbody > tr > td{
	text-align:left;
	padding:1px 1px 1px 3px;
	border:1px red solid;
	height:26px;
	line-height:26px;
}

table.subtbl
{
    border:#89B2FD 1px solid;
    color:#393939;
	background-color:#FAF8F8;
}
.subtbl caption
{
	border-top:#89B2FD 0px solid;
	border-left:#89B2FD 1px solid;
	border-right:#89B2FD 1px solid;
	text-align:left;
	padding-left:10px;
	font-size: 11pt;
	color:#555;
	background-color:#b0e0e6;
    	height:30px;
	line-height:30px;
}
.subtbl > tbody > tr > td {
	border:1px #89B2FD solid;
	padding:1px;
	height:25px;
}
.subtbl > tbody > tr > td.DELBTN ,.subtbl > thead > tr > td.ADDBTN {
    text-align:center;
    height:26px;
    width:70px;
    padding-left:3px;
    text-decoration:none;
}
.subtbl > tfoot {
     background-color:#f0f8ff;
}
th
{
	color:White;
	height:25px;
	font:bold 10pt/26px 黑体;
	background-color:#1e90ff;
}

input[type=button],input[type=submit],button
{
    padding:3px 5px;
    line-height:20px;
    height:28px;
	font-size:9pt;
	cursor:pointer;
}
.btn01{
    padding:3px 5px;
    margin:0px;
    border:#87a3c1 1px solid;
    color:#333;
    background:url(../img/btn01.gif) 0px 0px; 
}
.btn02
{
    padding:3px 5px;
    margin:0px;
    border:#a2904d 1px solid;
    color:#333;
    background:url(../img/btn01.gif) 0px -66px; 
 }
.TextBoxInChar{
    width:95%;
    height:22px;
	line-height:22px;
}
.TextBoxInOutPage{
    width:95%;
    overflow:auto;    
    height:22px;
	line-height:22px;
}
.TextBoxInArea{
    width:95%;
    overflow:auto;
	line-height:1.5;
}
.TextBoxInDate
{
    width:95%;
    height:22px;
	line-height:22px;
}
.Radio{vertical-align:middle;margin-right:3px;font-size:12px;}
.normaltbl .TextBoxInChar , .normaltbl .TextBoxInArea , .normaltbl .TextBoxInOutPage , .normaltbl .TextBoxInDate 
{
    border:#c0bbb4 0px solid;
    padding-left:2px;
    font-size:12px;
    float:left;
}

.redtbl .TextBoxInChar, .redtbl .TextBoxInDate,.redtbl .TextBoxInArea,.redtbl .TextBoxInOutPage
{
    background-color:#ffffe0;
    border-width:0px;
    padding-left:2px;
	line-height:20px;
    font-size:10pt;
    float:left;
}
.subtbl .TextBoxInChar , .subtbl .TextBoxInOutPage
{
	border:1px solid white;
    padding-left:2px;
	height:20px;
	line-height:20px;
	background-color:#ffffe0;
}
a.subaddbtn{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	width:20px;
	background:url(../img/common/add.png) no-repeat left center;
	text-decoration:none;
}
a.subdelbtn{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	width:20px;
	background:url(../img/common/delete.png) no-repeat left center;
	text-decoration:none;
}
a.subeditbtn{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	width:20px;
	background:url(../img/common/edit.png) no-repeat left center;
	text-decoration:none;
}
a.subcopybtn{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	width:20px;
	background:url(../img/common/copy.png) no-repeat left center;
	text-decoration:none;
}
a.subaddbtn:hover{
    background-position:1px center;
    }
a.subdelbtn:hover{
    background-position:1px center;
    }
.gray{color:Gray}
.red{color:red}
.green{color:green}
.center{margin-left:auto;margin-right:auto;}
.Read
{
    color:Gray;
}
.hidden
{
    display:none;
}
.menubar
{
    
    line-height:34px;
    height:33px;
    overflow:hidden;
    z-index:100;
}
.topnav{
    width: 100%; 
    left:0px;
    display: block; 
    z-index: 100; 
    overflow: visible; 
    position: fixed; 
    top: 0px; 
    background-image: url(../img/toolbar_bg.gif);  
    height: 31px; 
    border-bottom:#cadcea 1px solid;
}
a.linkbtn{
	line-height:20px;
	padding:0px;
	text-decoration:none;
	display:inline-block;
	color:Blue;
}
a.linkbtn:hover{
	text-decoration:underline;
	color:Red;
}
.split{
    color:#b1d7e9;
    width:10px;
    text-align:center;
    display:inline-block;
    font-style:normal;
    } 
.menubar ul{
	float: right; 
    list-style-type:none;
} 
.menubar ul li
{
    padding:0px 10px 0px 8px;
    float:left;
    margin-right:-2px;
    background:url(../img/edge1.gif) no-repeat 100% 50%
}
label{cursor:pointer;}
label.error
{
    font-weight:600;
    color:red;
    margin-left: 10px;
    width: auto;
    display: inline;
}
.RequiredStar
{    
	color:red;
	font-weight:bold;
    width:12px;
    text-align:center;
    vertical-align:middle;
    width:10px;
    height:100%;
}
.RequiredTbl{
	table-layout:fixed;
	display:inline-table;float:left;    
}
.RequiredTbl td
{
	text-indent:0px;
	padding:0px;
}
.OutPageTbl td
{
	text-indent:0px;
	padding:0px;
}
.ErrorMsg{
	background:	#ffff99;
	padding:6px;
	margin:20px;
	border:double 3px  orangered;
}
.ErrorMsg ol
{
	margin-left:30px;
}
.wfheader
{
	padding:2px 0px 2px 50px;
	}
.wfpage
{
	text-align:center;
	padding:10px;
	background:white;
	border-top:2px solid gray;
	overflow:auto;
	height:100%;
	
}
.wfdealinfo
{
    margin-left:auto;margin-right:auto;
	padding-top:10px;
	width:760px;
    text-align:center;
	}
.wfdealinfo th
{
	color:black;
	height:25px;
	font:bold 10pt/26px 黑体;
	background:#eee;
}
.TaskName
{
	color:Blue;
	}

.notice-wrap {
	position: fixed;
	top: 2px;
	right: 2px;
	width: 200px;
	z-index: 9999;
	
}
* html .notice-wrap {
	position: absolute;		
}
.notice-item {
	height: 50px;
	color: #eee;
	padding: 6px 6px 0px 50px;
	font-family:Arial lucida Grande;
	font-size: 12px;
	border: 2px solid #999;
	display: block;
	position: relative;
	margin: 0px 0px 12px 0px;
}
.notice-wrap .success{
    background: #000 url(../img/common/success.png) no-repeat 5% 50%;
}
.notice-wrap .error{
    background: #000 url(../img/common/error.png) no-repeat 5% 50%;
}
.notice-wrap .notice{
	background: #000 url(../img/common/success.png) no-repeat 5% 50%;    
}
.notice-item p{
	font-size: 16px;
	margin-top:18px;
	font-weight:600;
}
.notice-item-close {
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	right: 6px;
	top: 6px;
	cursor: pointer;
}

.tip{
    overflow:auto;
	overflow-x:hidden;
	margin-left:auto;
	margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    border:dotted 1px orange;
    background:#F9FB91;
    text-align:left;
    padding:5px;
}
.noborder{border-width:0px;}
.checktbl td{padding:2px 5px;}

a{text-decoration:none;color:Blue;}
a:hover{color:Red;}
.linkAdd{background-color:#ff7f50 ;border-radius:3px;color:White;display:inline-block;padding:3px 8px;margin:2px 0px 2px 3px;font-weight:bold;}
.linkAdd:hover{color:White;}