*{
    margin:0;
    padding:0;
}
html
{
	height:100%;
	overflow:auto;
}
body{
    font-weight:normal;
    font-style:normal;
    font-family:宋体,Tahoma,Helvetica,Arial,sans-serif;
    font-size:14px;
    background-color:white;
    height:100%;
	text-align: center; 
	overflow:visible;
}
#maindiv
{
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:20px 0px 20px 0px;
}
table.printTbl
{
    table-layout:fixed;
	border-collapse: collapse;
    margin-left:auto;
	margin-right:auto;
	font-size: 14px;
	width:17cm;
}

.printTbl td{
	text-align:left;
	padding:1px 1px 1px 3px;
	border:1px #444 solid;
	height:30px;
}
.printTbl td.noborder{border-width:0px;}

table.subtbl
{
    table-layout:fixed;
	border-collapse: collapse;
    margin-left:auto;
	margin-right:auto;
	font-size: 14px;
	width:17cm;
}
.subtbl td {
	text-align:left;
	border:1px #444 solid;
	padding:1px 1px 1px 3px;
	height:25px;
}

.gray{color:Gray}
.red{color:red}
.green{color:green}
.hidden{display:none;}
.menubar
{
    
    line-height:34px;
    height:33px;
    overflow:hidden;
    z-index:100;
}
.topnav{
    width: 100%; 
    left:0px;
    display: block; 
    z-index: 100; 
    overflow: visible; 
    position: fixed; 
    top: 0px; 
    background-image: url(../img/toolbar_bg.gif);  
    height: 31px; 
    border-bottom:#cadcea 1px solid;
}
a.linkbtn{
	line-height:20px;
	padding:0px;
	text-decoration:none;
	display:inline-block;
	color:Blue;
}
a.linkbtn:hover{
	text-decoration:underline;
	color:Red;
}
.split{
    color:#b1d7e9;
    width:10px;
    text-align:center;
    display:inline-block;
    font-style:normal;
    } 

.menubar ul{
	float: right; 
    list-style-type:none;
} 
.menubar ul li
{
    padding:0px 10px 0px 8px;
    float:left;
    margin-right:-2px;
    background:url(../img/edge1.gif) no-repeat 100% 50%
}
.menubar ul li a{
    text-decoration:none;
    color:Blue;
    }
    
    
    
/*大表格样式*/
table.normaltbl,table.redtbl,table.subtbl
{
    table-layout:fixed;
	border-collapse: collapse;
    margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	width:760px;
	line-height:20px;
}

table.normaltbl
{
	border:#808080 1px solid;
	color:#393939;
	background:#FAF8F8;
}
table.redtbl
{
    border:red 1px solid;
    color:red;
}
.normaltbl caption
{
	border-top:#808080 1px solid;
	border-left:#808080 1px solid;
	border-right:#808080 1px solid;
	font-weight:bold;
	font-size: 11pt;
	color:#555;
	background:url(../img/common/bg_input_btn.png) white repeat-x;
    height:30px;
	line-height:30px;
	
}
table.redtbl caption
{
    font:bold 14pt/40px 黑体;
}

.normaltbl > tr > td , .normaltbl > tbody > tr > td , .subtbl > tbody > tr > td, .subtbl > thead > tr > td
{
	text-align:left;
	padding:1px 1px 1px 3px;
	border:1px #808080 solid;
}
.redtbl > tr > td , .redtbl > tbody > tr > td{
	text-align:left;
	padding:3px;
	border:1px red solid;
	height:28px;
}

table.subtbl
{
    border:#808080 1px solid;
    color:#393939;
	background:#FAF8F8;
}
.subtbl > tbody > tr > td {
	border:1px #808080 solid;
	padding:1px;
	height:25px;
}
.subtbl > tbody > tr > td.DELBTN ,.subtbl > thead > tr > td.ADDBTN {
    text-align:center;
    height:26px;
    width:30px;
    padding-left:3px;
    text-decoration:none;
    }
