*{
    margin:0;
    padding:0;
}
body{
    font-weight:normal;
    font-style:normal;
    font-family:Tahoma,Helvetica,Arial,sans-serif;
    font-size:12px;
    background-color:#eeeeee;
    height:100%;

}
html
{
	height:100%;
}
#maindiv{
	overflow:auto;
	overflow-x:hidden;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px 0px 20px 0px;
}
table{
	border-collapse: collapse;	
}
/*大表格样式*/
.defaultstyle
{
	font-size: 12px;
	width:700px;
	line-height:20px;
	border:#808080 1px solid;
	color:#393939;
}
.defaultstyle>tbody>tr>td
{
	border:#808080 1px solid;
}
td {
	padding:3px;
    }
.defaultstyle caption{
	border:#808080 1px solid;
	font:bold 11pt/26px 黑体;
	background:url(../img/tab2.gif) white repeat-x left top;
    }
.defaultstyle th{
	color:White;
	height:25px;
	font:bold 10pt/26px 黑体;
	background:url(../img/tab2.gif) white repeat-x left top;
	}
	
.TextBoxInChar{
    width:98%;
    height:18px;
}
.TextBoxInOutPage{
    width:98%;
    height:18px;
}
.TextBoxInArea{
    width:100%;
}
.TextBoxInDate
{
	margin:1px;
    width:80%;
    height:18px;
}
.TextBoxInChar, .TextBoxInDate, .TextBoxInArea,.TextBoxInOutPage
{
    border:#c0bbb4 1px solid;
    background:url(../img/common/bg_input_text.png) white repeat-x left top;/**/
    padding-top:2px;
    padding-left:2px;
    padding-bottom:1px;
    font-size:10pt;
    float:left;
}
button,input[type=button],input[type=submit]
{
	font-size:9pt;
    padding:3px 6px 3px 6px;
	margin:1px 0px 1px 0px;
	width: auto;
	line-height:16px;
	height:26px;
    border:#87a3c1 1px solid;
    color:#333;
    background:url(../img/btn01.gif) 0px 0px;
    overflow:visible; 
}
.Read
{
    color:Gray;
}
.hidden
{
    display:none;
}
.menubar
{
    
    line-height:34px;
    height:33px;
    text-align:left;
    overflow:hidden;
    z-index:100;
}
.topnav{
    width: 100%; 
    display: block; 
    z-index: 100; 
    overflow: visible; 
    position: fixed; 
    top: 0px; 
    background-image: url(../img/toolbar_bg.gif);  
    height: 31px; 
    border-bottom:#cadcea 1px solid;
}
a.linkbtn{
	line-height:20px;
	padding:0px;
}
.menubar ul{
	float: right; 
    list-style-type:none;
} 
.menubar ul li
{
    padding:0px 10px 0px 8px;
    float:left;
    margin-right:-2px;
    background:url(../img/edge1.gif) no-repeat 100% 50%
}

label.error
{
    font-weight:600;
    color:red;
    margin-left: 10px;
    width: auto;
    display: inline;
}
.RequiredStar
{    
	color:red;
	font-weight:bold;
    width:12px;
    text-align:center;
    vertical-align:middle;
    width:10px;
    height:100%;
}
.RequiredTbl{
	table-layout:fixed;
}
.RequiredTbl td
{
	text-indent:0px;
	padding:0px;
}
.OutPageTbl td
{
	text-indent:0px;
	padding:0px;
}


.ErrorMsg{
	background:	#ffff99;
	padding:6px;
	margin:20px;
	border:double 3px  orangered;
}
.ErrorMsg ol
{
	margin-left:30px;
}
.wfheader
{
	padding:2px 0px 2px 50px;
	}
.wfpage
{
	text-align:center;
	padding:10px;
	background:white;
	border-top:1px solid gray;
	overflow:auto;
	height:100%;
	
}
.wfdealinfo{
	padding:10px;
	width:700px;
	}
.wfdealinfo th{
	color:black;
	height:25px;
	font:bold 10pt/26px 黑体;
	background:#eee;
}
.TaskName{
	color:Blue;
}

.TableTop{
    border:0px;
    font-size:12px;
    border-collapse:collapse;
    }
.TableTop>tbody>tr>td{
    background:url(../img/toolbar/table_top_bg.png) no-repeat 0px -32px;
    height:32px;
    color:#fff;
    padding:0px;
    font-weight:bold;
    }
.TableTop>tbody>tr> td.left{
    width:5px !important;
    background-position:left 0px;
    }
.TableTop>tbody>tr> td.right{
    width:5px !important;
    background-position:right -64px;
    }
.TableTop>tbody>tr> td.center{
    text-align:center;
    background-repeat:repeat-x;
    background-position:0px -32px;
    }
            
.TableBlock {
	border-bottom: #4686c6 1px solid; 
	border-left: #4686c6 1px solid; 
	line-height: 20px; 
	border-collapse: collapse; 
	font-size: 9pt; 
	border-top: #4686c6 1px solid; 
	border-right: #4686c6 1px solid;
    }
.TableBlock>tbody>tr> td {
	padding: 3px;  
	height: 30px;
	border:1px solid #aaa; 
    }
.TableFooter{}
.TableBlock .TableFooter td {
    height:30px;
	border: #cecece 1px solid; 
	background: #e7f0fb; 

}
.no-left-border {
	border-left: 0px
}
.no-top-border {
	border-top: 0px
}
.no-right-border {
	border-right: 0px
}
.no-bottom-border {
	border-bottom: 0px
}

.notice-wrap {
	position: fixed;
	top: 2px;
	right: 2px;
	width: 200px;
	z-index: 9999;
	
}
* html .notice-wrap {
	position: absolute;		
}
.notice-item {
	height: 50px;
	color: #eee;
	padding: 6px 6px 0px 50px;
	font-family:Arial lucida Grande;
	font-size: 12px;
	border: 2px solid #999;
	display: block;
	position: relative;
	margin: 0px 0px 12px 0px;
}
.notice-wrap .success{
    background: #000 url(../img/common/success.png) no-repeat 5% 50%;
}
.notice-wrap .error{
    background: #000 url(../img/common/error.png) no-repeat 5% 50%;
}
.notice-wrap .notice{
	background: #000 url(../img/common/success.png) no-repeat 5% 50%;    
}
.notice-item p{
	font-size: 16px;
	margin-top:18px;
	font-weight:600;
}
.notice-item-close {
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	right: 6px;
	top: 6px;
	cursor: pointer;
}

.tip{border:dotted 1px orange;background:#F9FB91;text-align:left;padding:5px;margin-top:10px;}
.toolbar{
	background:#eee url(../img/toolbar.gif) repeat-x center center;
	padding:3px;
	margin:0px 0px 5px 0px;
	border-bottom:1px solid #aaa;
	border-top-width:0px;
	border-right-width:0px;
	border-left-width:0px;
	overflow:hidden;
	}
.toolbar button{
	padding:3px 2px;
	margin:1px;
	width: auto;
	height:23px;
	cursor:pointer;
	background-image:none;
	background-color:transparent;
	border:0px solid #ddd;
    overflow:visible;
}
.toolbar button img{
	margin-right:2px;
    vertical-align:middle;
}
.toolbar input.search {
	padding:2px;
    width:80px;
    border:#c0bbb4 1px solid;    
    background:url(../img/common/bg_input_text.png) white repeat-x left top;/**/
}

.imgbutton{
	padding:1px 4px;
	margin:1px;
	width: auto;
    overflow:visible;
}
.imgbutton img{
	margin-right:2px;
    vertical-align:middle;
}
.tip{
    overflow:auto;
	overflow-x:hidden;
	margin-left:auto;
	margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    border:dotted 1px orange;
    background:#F9FB91;
    text-align:left;
    padding:5px;
}
.gray{color:Gray}
.red{color:red}
.green{color:green}
.hidden
{
    display:none;
}