<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true" >

	<targets>
		<target name="file" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.txt"
				layout="[${date:format=HH\:mm\:ss}]|${level}|${message} "/>
        <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp://127.0.0.1:4506"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="file" final="true"/>
		<logger name="*" minlevel="Debug" writeTo="file" final="true"/>
	</rules>

</nlog>