<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
    </configSections>
    <unity>
        <containers>
            <container name="Workflow">
                <types>
                    <type type="EIS.AppModel.Workflow.ITaskAction,EIS.AppModel" mapTo="EIS.Web.SysFolder.WorkFlow.WorkflowEvent,EIS.Web.SysFolder.WorkFlow"></type>
                </types>
            </container>
        </containers>
    </unity>
</configuration>
