body{
    font-weight:normal;
    font-style:normal;
    font-family:Tahoma,Helvetica,Arial,sans-serif;
    font-size:12px;
}
body,textarea{
    font-family:Tahoma,Helvetica,Arial,sans-serif;
}

.menubar
{
    
    line-height:34px;
    height:33px;
    overflow:hidden;
    z-index:100;
}
 .topnav{
    width: 100%; 
    display: block; 
    z-index: 100; 
    overflow: visible; 
    position: fixed; 
    top: 0px; 
    background-image: url(../img/toolbar_bg.gif);  
    height: 31px; 
    border-bottom:#cadcea 1px solid;
}
.menubar ul{
	float: right; 
    list-style-type:none;
} 
.menubar li
{
    padding:0px 10px 0px 8px;
    float:left;
    margin-right:-2px;
    background:url(../img/edge1.gif) no-repeat 100% 50%
    }
.textbox
{
    border:#c0bbb4 1px solid;
    background:url(../img/common/bg_input_text.png) white repeat-x left top;
    padding-top:1px;
    padding-bottom:1px;
    font-size:10pt;
    height:18px;
    float:left;
    }
.readonly
{
    color:Gray;
    }
.maindiv
{
    padding:15px 15px 15px 25px;
    }
table.querytbl
{
	border-collapse: collapse;
    margin-left:10px;
	margin-right:auto;
	font-size: 12px;
	line-height:20px;
	border:#808080 1px solid;
	color:#393939;
	background:#FAF8F8;
}
.querytbl thead th
{
    padding:3px;
    background:url(../img/toolbar.gif) repeat-x 100% 50%
 }
.querytbl tbody td
{
    padding:3px;
    }
.red{
    color:Red;
    }
.green{
    color:Green; 
    }
.pagerbody{margin:5px 10px;}
.hidden
{
    display:none;
}
label.error
{
    font-weight:600;
    color:red;
    margin-left: 10px;
    width: auto;
    display: inline;
}
.notice-wrap {
	position: fixed;
	top: 2px;
	right: 2px;
	width: 200px;
	z-index: 9999;
	
}

* html .notice-wrap {
	position: absolute;		
}
 
.notice-item {
	height: 50px;
	background: #000 url(../img/check.png) no-repeat 5% 50%;
	color: #eee;
	padding: 6px 6px 0px 50px;
	font-family:Arial lucida Grande;
	font-size: 12px;
	border: 2px solid #999;
	display: block;
	position: relative;
	margin: 0px 0px 12px 0px;
}
.notice-item p{
	font-size: 16px;
	margin-top:18px;
	font-weight:600;
}
.notice-item-close {
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	right: 6px;
	top: 6px;
	cursor: pointer;
}
 