*{
    margin:0;
    padding:0;
}
html
{
	height:100%;
	overflow:auto;
}
body{
    font-weight:normal;
    font-style:normal;
    font-family:宋体,Tahoma,Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:150%;
    background-color:white;
    height:100%;
	text-align: left; 
	overflow:visible;
}

/*大表格样式*/
table.normaltbl,table.redtbl,table.subtbl
{
    table-layout:fixed;
	border-collapse: collapse;
    margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	width:760px;
	line-height:20px;
}

table.normaltbl
{
	border:#808080 1px solid;
	color:#393939;
	background:#FAF8F8;
	empty-cells:show;
}
table.redtbl
{
    border:red 1px solid;
    color:red;
}
.normaltbl caption
{
	border-top:#808080 1px solid;
	border-left:#808080 1px solid;
	border-right:#808080 1px solid;
	font-weight:bold;
	font-size: 11pt;
	color:#555;
	background:url(../img/common/bg_input_btn.png) white repeat-x;
    height:30px;
	line-height:30px;
	
}
.redtbl caption
{
    font:bold 14pt/40px 黑体;
}

.normaltbl > tr > td , .normaltbl > tbody > tr > td , .subtbl > tbody > tr > td, .subtbl > thead > tr > td
{
	text-align:left;
	padding:1px 1px 1px 3px;
	border:1px #808080 solid;
	height:25px;
}
.redtbl > tr > td , .redtbl > tbody > tr > td{
	text-align:left;
	padding:3px;
	border:1px red solid;
	height:28px;
}

table.subtbl
{
    border:#808080 1px solid;
    color:#393939;
	background:#FAF8F8;
}
.subtbl > tbody > tr > td {
	border:1px #808080 solid;
	padding:1px;
	height:25px;
}
.subtbl > tbody > tr > td.DELBTN ,.subtbl > thead > tr > td.ADDBTN {
    text-align:center;
    width:60px;
    }
th
{
	color:White;
	height:25px;
	font:bold 10pt/26px 黑体;
	background:url(../img/tab2.gif) white repeat-x left top;
}

input[type=button],input[type=submit]
{
    padding:3px;
	font-size:9pt;
}
.btn01{
    padding:3px;
    margin:0px;
    border:#87a3c1 1px solid;
    color:#333;
    background:url(../img/btn01.gif) 0px 0px; 
}
.btn02
{
    padding:3px;
    margin:0px;
    border:#a2904d 1px solid;
    color:#333;
    background:url(../img/btn01.gif) 0px -66px; 
 }
.TextBoxInChar{
    width:98%;
    height:18px;
}
.TextBoxInOutPage{
    width:98%;
    height:18px;
    overflow:auto;    
}
.TextBoxInArea{
    width:100%;
    overflow:auto;
}
.TextBoxInDate
{
	margin:1px;
    width:96%;
    height:18px;
    border:#c0bbb4 1px solid;
    padding-top:2px;
    padding-left:2px;
    padding-bottom:1px;
    font-size:10pt;
    
}
.normaltbl .TextBoxInChar,.normaltbl .TextBoxInArea,.normaltbl .TextBoxInOutPage 
{
    border:#c0bbb4 1px solid;
    background:url(../img/common/bg_input_text.png) white repeat-x left top;/**/
    padding-top:2px;
    padding-left:2px;
    padding-bottom:1px;
    font-size:10pt;
    float:left;
}

.redtbl .TextBoxInChar, .redtbl .TextBoxInDate,.redtbl .TextBoxInArea,.redtbl .TextBoxInOutPage
{
    background-color:#ffffe0;
    border-width:0px;
    padding-top:2px;
    padding-left:2px;
    padding-bottom:1px;
    font-size:10pt;
    float:left;
}
.subtbl .TextBoxInChar , .subtbl .TextBoxInOutPage
{
	padding:1px;
	border:1px solid white;
	background:#ffffe0;
}
a.subaddbtn{
	display:block;
	width:40px;
}
a.subdelbtn{
	display:block;
	width:40px;
}
.gray{color:Gray}
.red{color:red}
.green{color:green}
.Read
{
    color:Gray;
}
.hidden
{
    /*display:none;*/
}
.menubar
{
    
    line-height:34px;
    height:33px;
    overflow:hidden;
    z-index:100;
}
.topnav{
    width: 100%; 
    left:0px;
    display: block; 
    z-index: 100; 
    overflow: visible; 
    position: fixed; 
    top: 0px; 
    background-image: url(../img/toolbar_bg.gif);  
    height: 31px; 
    border-bottom:#cadcea 1px solid;
}
a.linkbtn{
	line-height:20px;
	padding:0px;
	text-decoration:none;
	display:inline-block;
	color:Blue;
}
a.linkbtn:hover{
	text-decoration:underline;
	color:Red;
}
.split{
    color:#b1d7e9;
    width:10px;
    text-align:center;
    display:inline-block;
    font-style:normal;
    } 
.menubar ul{
	float: right; 
    list-style-type:none;
} 
.menubar ul li
{
    padding:0px 10px 0px 8px;
    float:left;
    margin-right:-2px;
    background:url(../img/edge1.gif) no-repeat 100% 50%
}

label.error
{
    font-weight:600;
    color:red;
    margin-left: 10px;
    width: auto;
    display: inline;
}
.RequiredStar
{    
	color:red;
	font-weight:bold;
    width:12px;
    text-align:center;
    vertical-align:middle;
    width:10px;
    height:100%;
}
.RequiredTbl td
{
	text-indent:0px;
	padding:0px;
}
.OutPageTbl td
{
	text-indent:0px;
	padding:0px;
}
.ErrorMsg{
	background:	#ffff99;
	padding:6px;
	margin:20px;
	border:double 3px  orangered;
}
.ErrorMsg ol
{
	margin-left:30px;
}
.wfheader
{
	padding:2px 0px 2px 50px;
	}
.wfpage
{
	text-align:center;
	padding:10px;
	background:white;
	border-top:2px solid gray;
	overflow:auto;
	height:100%;
	
}
.wfdealinfo
{
	padding-top:10px;
	width:760px;
    text-align:center;
	}
.wfdealinfo th
{
	color:black;
	height:25px;
	font:bold 10pt/26px 黑体;
	background:#eee;
}
.TaskName
{
	color:Blue;
	}

.notice-wrap {
	position: fixed;
	top: 2px;
	right: 2px;
	width: 200px;
	z-index: 9999;
	
}
* html .notice-wrap {
	position: absolute;		
}
.notice-item {
	height: 50px;
	background: #000 url(../img/check.png) no-repeat 5% 50%;
	color: #eee;
	padding: 6px 6px 0px 50px;
	font-family:Arial lucida Grande;
	font-size: 12px;
	border: 2px solid #999;
	display: block;
	position: relative;
	margin: 0px 0px 12px 0px;
}
.notice-item p{
	font-size: 16px;
	margin-top:18px;
	font-weight:600;
}
.notice-item-close {
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	right: 6px;
	top: 6px;
	cursor: pointer;
}

.tip{
    overflow:auto;
	overflow-x:hidden;
	margin-left:auto;
	margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    border:dotted 1px orange;
    background:#F9FB91;
    text-align:left;
    padding:5px;
}