html {
	scrollbar-shadow-color: #ffffff; 
	scrollbar-highlight-color: #ffffff; 
	scrollbar-face-color: #d9d9d9; 
	scrollbar-3dlight-color: #d9d9d9; 
	scrollbar-darkshadow-color: #d9d9d9; 
	scrollbar-track-color: #ffffff; 
	scrollbar-arrow-color: #ffffff
}
body
{
cursor: text;
}
.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

pre.code, .editbox {
  color: #666666;
}

.editbox p {
  margin: 0;
}

span.js-punctuation {
  color: #666666;
}

span.js-operator {
  color: #666666;
}

span.js-keyword {
  color: #770088;
}

span.js-atom {
  color: #228811;
}

span.js-variable {
  color: black;
}

span.js-variabledef {
  color: #0000FF;
}

span.js-localvariable {
  color: #004499;
}

span.js-property {
  color: black;
}

span.js-comment {
  color: #AA7700;
}

span.js-string {
  color: #AA2222;
}
